RewriteEngine On

RewriteRule product/list index.php?route=list [L]
RewriteRule product/massdelete index.php?route=massdelete [L]
RewriteRule product/addproduct index.php?route=addproduct [L]
RewriteRule product/add index.php?route=add [L]

RewriteRule .env index.php?route=list [L]
RewriteRule ^[A-Za-z-0-9]+.sql$ index.php?route=list [L]

RewriteCond %{DOCUMENT_ROOT}/public/ -f